UJTWLL_1020/macskakUJTWLL.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="macskak">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="macska" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="nev" type="xs:string">
      </xs:element>
      <xs:element name="kor" type="xs:integer">
      </xs:element>
      <xs:element name="fajta" type="xs:string">
      </xs:element>
     </xs:sequence>
     <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>
