UJTWLL_1006/FM_konyv.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="konyvek">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="konyv" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="cim" type="xs:string"/>
      <xs:element name="kiadas" type="xs:integer"/>
      <xs:element name="kiado" type="xs:string"/>
      <xs:element name="szerzo" type="xs:string" maxOccurs="unbounded"/>
     </xs:sequence>
     <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>
