UJTWLL_1006/mozi1.dtd

<!ELEMENT mozi (film)*>
<!ELEMENT film (rendezo+, szinesz, iro)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj CDATA #REQUIRED>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ATTLIST iro id ID #REQUIRED>
